*.vscode
*.sln
*build/
*.devcontainer
*.bin
/hello_world/build
*.dockerfile
*.json
*.obj
*.cmake
*.exe
*.a
*.S
*.old
*.o
*.elf
*.map
*.log
*.d
*.ci
*.bin_timestamp
*.ninja_deps
*.ninja_log
*.ninja
setuptest.bat